body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #1a4780;
}

h1 {
  width: 255px;
  margin: 0 auto 8px;
  font-family: "Georgia", serif;
  text-align: center;
  font-weight: normal;
  font-size: 60px;
  line-height: 60px;
}

h2 {
  border-bottom: 2px solid #1a4780;
  padding-bottom: 12px;
}

.container {
  width: 510px;
  margin: 0 auto;
  padding: 0 20px;
color: #ffffff
}

.site-header {
  min-width: 638px;
  height: 336px;
  margin-bottom: 70px;
  padding-top: 30px;
  background: #1a4780 no-repeat center url("https://playboyrussia.com/upload/medialibrary/9b4/9b4be30c00b2ed9ef720c84d3b5028e6.jpg");
  background-size: cover;
  color: #ffffff;
}

.site-header p {
  width: 355px;
  margin: 0 auto 26px;
  text-align: center;
  font-size: 16px;
  line-height: 24px; 
}

.site-header img {
  display: block;
  margin: 0 auto;
}

.features {
  width: 610px;
  margin: 0 auto 30px;
  padding: 0 20px;
}

.features p {
  display: inline-block;
  vertical-align: top;
  width: 30%;
  margin: 0 5px;
  background-repeat: no-repeat;
  background-position: center top;
  text-align: center;
}

.advantages {
  width: 610px;
  margin: 0 auto 40px;
  padding: 0 20px;
}

.advantages-list {
  padding: 0;
  list-style: none;  
}

.advantages-item {
  margin-bottom: 15px;
  padding-left: 20px;
  border-left: 20px solid #1a4780;
  color: #111111;
}

.standard {
  margin-bottom: 0px;
  padding-left: 0px;
  border-left: 0px solid #ffffff;

}

.site-footer {
  min-width: 550px;
  background-color: #1a4780;
  color: #000000;
}

.site-footer .container {
  text-align: center;
}

.site-footer p {
  display: inline-block;
  vertical-align: middle;
  padding: 20 0px;
}


